<div>
  <app-dashboard-header/>

  <main class="container" *ngIf="!ProfileModeEdit, else editProfile ">
    <button (click)="ChangeProfileMode()">
      <i class="ph-pencil"></i>
      Editar
    </button>

    <form>
      <label for="name">Nome:</label>
      <input type="text" name="name" id="name" disabled [value]="User.Name">

      <label for="cpf">CPF:</label>
      <input type="text" name="cpf" id="cpf" disabled [value]="User.Cpf">

      <label for="email">Email:</label>
      <input type="email" name="email" id="email" disabled [value]="User.Email">

      <label for="phone">Telefone:</label>
      <input type="phone" name="phone" id="phone" disabled [value]="User.Phone">

      <fieldset>
        <label for="address">Endereço:</label>
        <div *ngFor="let item of User.Address">
          <input type="text" name="address" disabled="" [value]="item.Location">
        </div>
      </fieldset>
    </form>

  </main>
</div>

<ng-template #editProfile>
  <form>
    <label for="name">Nome:</label>
    <input type="text" name="name" id="name" [(ngModel)]="User.Name">

    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" id="cpf" [(ngModel)]="User.Cpf">

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" [(ngModel)]="User.Email">

    <label for="phone">Telefone:</label>
    <input type="phone" name="phone" id="phone" [(ngModel)]="User.Phone">

    <fieldset>
      <label for="address">Endereço:</label>
      <div *ngFor="let item of User.Address, let i = index">
        <input type="text" #name="ngModel" name="address{{i}}" [(ngModel)]="item.Location" [value]="item.Location">
        <button (click)="RemoveAddressField(i)"><i class="ph-trash"></i></button>
      </div>
      <button (click)="AppendNewAddressField()"><i class="ph-plus"></i></button>
    </fieldset>
  </form>

  <button (click)="ChangeProfileMode()">Cancelar</button>
</ng-template>
