main {
  max-width: 1150px;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 1.2rem;
  }

  button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #51B853;
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    gap: 0.5rem;
    cursor: pointer;
    transition: filter 0.2s ease;

    &:hover {
      filter: brightness(1.1);
    }

  }
}
